[gcode_macro G28]
rename_existing: G28.0
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    G28.0 X
    # Move away
    G91
    G1 X-10 F1200
  {% endif %}

  {% if home_all or 'Y' in params %}
    G28.0 Y
    # Move away
    G91
    G1 Y-10 F1200
  {% endif %}

  {% if home_all or 'Z' in params %}
    G28.0 Z
  {% endif %}
